<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoAccessTockenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoAccessTocken">
        <id column="Id" property="Id" />
        <result column="flag" property="flag" />
        <result column="access_token" property="accessToken" />
        <result column="openid" property="openid" />
        <result column="deleted" property="deleted" />
        <result column="refreshtoken" property="refreshtoken" />
    </resultMap>

    <select id="listMore" resultMap="BaseResultMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="getOne" resultType="com.warm.system.entity.PersonalNoAccessTocken" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="listOne" resultType="java.lang.String" parameterType="java.lang.String">
        ${sql}
    </select>

    <insert id="add" parameterType="com.warm.system.entity.PersonalNoAccessTocken" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,flag,access_token,openid,refreshtoken,deleted)
        values
          (#{entity.id},#{entity.flag},#{entity.accessToken},#{entity.openid},#{entity.refreshtoken},#{entity.deleted})
    </insert>

    <update id="updateOneById" parameterType="com.warm.system.entity.PersonalNoAccessTocken" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.flag!=null">
                flag = #{entity.flag},
            </if>
            <if test="entity.accessToken!=null">
                access_token = #{entity.accessToken},
            </if>
            <if test="entity.openid!=null">
                openid = #{entity.openid},
            </if>
            <if test="entity.deleted!=null">
                refreshtoken = #{entity.refreshtoken},
            </if>
            <if test="entity.deleted!=null">
                deleted = #{entity.deleted},
            </if>
        </set>
        where id = #{entity.id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        ${sql}
    </delete>

    <select id="getCount" resultType="java.lang.Long" parameterType="java.lang.String">
        ${sql}
    </select>

</mapper>
