<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoGroupCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoGroupCategory">
        <id column="id" property="id" />
        <result column="group_category_set_id" property="groupCategorySetId" />
        <result column="cname" property="cname" />
        <result column="up_limit" property="upLimit" />
        <result column="prefix" property="prefix" />
        <result column="postfix" property="postfix" />
        <result column="begin_index" property="beginIndex" />
        <result column="current_index" property="currentIndex" />
        <result column="assistant_ids" property="assistantIds" />
        <result column="full_verify" property="fullVerify" />
        <result column="cdescription" property="cdescription" />
        <result column="create_time" property="createTime" />
    </resultMap>


    <insert id="add" parameterType="com.warm.system.entity.PersonalNoGroupCategory" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,group_category_set_id,cname,up_limit,prefix,postfix,begin_index,current_index,assistant_ids,full_verify,cdescription,create_time)
        values
          (#{entity.id},#{entity.groupCategorySetId},#{entity.cname},#{entity.upLimit},#{entity.prefix},#{entity.postfix},#{entity.beginIndex},#{entity.currentIndex},#{entity.assistantIds},#{entity.fullVerify},#{entity.cdescription},#{entity.createTime})
    </insert>

    <update id="updateOne" parameterType="com.warm.system.entity.PersonalNoGroupCategory" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.groupCategorySetId!=null">
                group_category_set_id = #{entity.groupCategorySetId},
            </if>
            <if test="entity.cname!=null">
                cname = #{entity.cname},
            </if>
            <if test="entity.upLimit!=null">
                up_limit = #{entity.upLimit},
            </if>
            <if test="entity.prefix!=null">
                prefix = #{entity.prefix},
            </if>
            <if test="entity.postfix!=null">
                postfix = #{entity.postfix},
            </if>
            <if test="entity.beginIndex!=null">
                begin_index = #{entity.beginIndex},
            </if>
            <if test="entity.currentIndex!=null">
                current_index = #{entity.currentIndex},
            </if>
            <if test="entity.assistantIds!=null">
                assistant_ids = #{entity.assistantIds},
            </if>
            <if test="entity.fullVerify!=null">
                full_verify = #{entity.fullVerify},
            </if>
            <if test="entity.cdescription!=null">
                cdescription = #{entity.cdescription},
            </if>
            <if test="entity.createTime!=null">
                create_time = #{entity.createTime},
            </if>
        </set>
        where id = #{entity.id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        ${sql}
    </delete>

    <select id="list" resultMap="BaseResultMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="listString" resultType="java.lang.String" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="getOne" resultMap="BaseResultMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="getCount" resultType="java.lang.Long" parameterType="java.lang.String">
        ${sql}
    </select>

</mapper>
