<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoTaskChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoTaskChannel">
        <id column="id" property="id" />
        <result column="personal_no_task_id" property="personalNoTaskId" />
        <result column="channel_id" property="channelId" />
        <result column="channel_name" property="channelName" />
        <result column="deleted" property="deleted" />
        <result column="road_or_task" property="roadOrTask" />
    </resultMap>

    <insert id="add" parameterType="com.warm.system.entity.PersonalNoTaskChannel" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,personal_no_task_id,channel_id,channel_name,deleted,road_or_task)
        values
          (#{entity.id},#{entity.personalNoTaskId},#{entity.channelId},#{entity.channelName},#{entity.deleted},#{entity.roadOrTask})
    </insert>

    <update id="updateOne" parameterType="com.warm.system.entity.PersonalNoTaskChannel" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.personalNoTaskId!=null">
                personal_no_task_id = #{entity.personalNoTaskId},
            </if>
            <if test="entity.channelId!=null">
                channel_id = #{entity.channelId},
            </if>
            <if test="entity.channelName!=null">
                channel_name = #{entity.channelName},
            </if>
            <if test="entity.deleted!=null">
                deleted = #{entity.deleted},
            </if>
            <if test="entity.roadOrTask!=null">
                road_or_task = #{entity.roadOrTask},
            </if>
        </set>
        where id = #{entity.id}
    </update>

</mapper>
