<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.system.mapper.PersonalNoCategoryAndGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warm.system.entity.PersonalNoCategoryAndGroup">
        <id column="id" property="id" />
        <result column="personal_no_wx_id" property="personalNoWxId" />
        <result column="nick_name" property="nickName" />
        <result column="category" property="category" />
        <result column="group" property="group" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <insert id="add" parameterType="com.warm.system.entity.PersonalNoCategoryAndGroup" useGeneratedKeys="true" keyProperty="entity.id">
        insert into ${entity.db}
          (id,personal_no_wx_id,nick_name,category,`group`,deleted)
        values
          (#{entity.id},#{entity.personalNoWxId},#{entity.nickName},#{entity.category},#{entity.group},#{entity.deleted})
    </insert>

    <update id="updateOne" parameterType="com.warm.system.entity.PersonalNoCategoryAndGroup" useGeneratedKeys="true" keyProperty="entity.id">
        UPDATE ${entity.db}
        <set>
            <if test="entity.personalNoWxId!=null">
                personal_no_wx_id = #{entity.personalNoWxId},
            </if>
            <if test="entity.nickName!=null">
                nick_name = #{entity.nickName},
            </if>
            <if test="entity.category!=null">
                category = #{entity.category},
            </if>
            <if test="entity.group!=null">
                `group` = #{entity.group},
            </if>
            <if test="entity.deleted!=null">
                deleted = #{entity.deleted},
            </if>
        </set>
        where id = #{entity.id}
    </update>

</mapper>
